@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
body {
    background-color: #E5E5E5;
}

.body {
    background-image: url('images/Back\ drop\ 1.png');
    background-repeat: no-repeat;
    position:fixed;
    background-size: contain;
    width: 100%;
    height: 100%;
    bottom: 0px;
    background-position: center bottom;
}

.form h1{
    margin-top: 190px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: #000000;
}

.form{
    /* margin-top: 200px; */
    font-family: Poppins;
    letter-spacing: 0.205em;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #000000;
}

.border {
    border-width: 3px !important;
    border-color: #000000 !important;
}

.form .btn {
    background-color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.205em;
}

.navbar-nav li{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-style: normal;
color: #000000;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-style: normal;
    color: #fff;
}
a:hover {
    color: #fff;
}

.hidden>div {
    display: none;
}

.visible>div {
    display: block;
}